$light-grey: #8A92A6;
$black: #000;
$green: #4caf50;
$teal: #004d40;

// .side-nav{
//     position: absolute;
//     top: 0;
//     bottom: 0;
// }

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: $black !important;
}

input[type='date']{
    border: none;
    outline: none;
}

input[type='date']:in-range::-webkit-datetime-edit-year-field,
input[type='date']:in-range::-webkit-datetime-edit-month-field,
input[type='date']:in-range::-webkit-datetime-edit-day-field,
input[type='date']:in-range::-webkit-datetime-edit-text{
    color: transparent;
}


.info-cards{
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 134px;
    border: 2px solid $light-grey;
    border-radius: 8px;
    text-align: center;
}

.cards h1{
    font-size: 40px;
    font-weight: 800;
    color: $teal;
}

.cards h3{
    font-size: 22px;
    font-weight: 700;
    color: $light-grey;
}

.task-manager{
    width: 400px;
    height:auto;
    border: 2px solid $light-grey;
    border-radius: 8px;
}

.task-manager h3{
    font-weight: 800;
    color: $light-grey;
}

.next-event{
    width: 400px;
    height:auto;
    border: 2px solid $light-grey;
    border-radius: 8px;
    text-align: center;
}

.next-event h3{
    font-weight: 800;
    color: $light-grey;
}

.unknown{
    border: 2px solid $light-grey;
    border-radius: 8px;
    text-align: center;
}

.unknown h3{
    font-weight: 800;
    color: $light-grey;
}

.upcoming-events{
    text-align: left;
}

.upcoming-events h5{
    
}