.main-input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    align-items: center;
}

.right{
    margin-right: 10px;
}

// .loader-bg{
//     background: rgb(189, 186, 186);
//     width: 100%;
//     height: 100vh;
//     opacity: 0.5;
// }

.loader{
    margin: 0;
    position: absolute;
    left: 43%;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.loader > h3{
    color: #000;
    font-size: 30px;
    margin-left: -70%;
    text-align: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }